@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  height: 500px;
  width: 350px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Crimson Text", serif;
}

#widget_content {
  background-color: rgb(55 119 38);
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.simbolt {
  display: flex;
  font-size: 90px;
  margin-top: 8px;
  margin-left: 5px;
}

.simbolb {
  display: flex;
  font-size: 90px;
  margin-right: 5px;
  transform: rotate(180deg);
  overflow: auto;
  margin-bottom: 8px;
}

.number {
  font-size: 160px;
  color: black !important;
}

.heart {
  color: red;
}
.diamond {
  color: red;
}

.club,
.spade {
  color: rgb(0, 0, 0);
}
